<!DOCTYPE html>
<html>
<head>

    <title>Result Page</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    {% if error %}

        <h2 class="fail">{{ error }}</h2>

    {% else %}

        <h1>Student Result</h1>

        <p><b>Name:</b> {{ name }}</p>
        <p><b>Roll Number:</b> {{ roll }}</p>
        <p><b>Attendance:</b> {{ attendance }}</p>
        <p><b>Total Marks:</b> {{ total }}</p>
        <p><b>Percentage:</b> {{ percentage }}</p>

        {% if status == "Scholarship Eligible" %}

            <h2 class="scholar">{{ status }}</h2>

        {% elif status == "Pass" %}

            <h2 class="pass">{{ status }}</h2>

        {% else %}

            <h2 class="fail">{{ status }}</h2>

        {% endif %}

    {% endif %}

</div>

</body>
</html>